.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 12px;
  border-top: 1px solid $color-grey-light;

  @include respond-to(laptop) {
    gap: 12px;
  }

  @include respond-from(laptop) {
    flex-direction: row;
    justify-content: space-between;
  }

  .title-p {
    a {
      color: $color-primary;
      transition: 0.9s;

      &:hover {
        color: darken($color-primary, 30%);
      }
    }
  }
}
