.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;

  @include respond-to(laptop) {
    gap: 12px;
  }

  @include respond-from(laptop) {
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    color: $font-color-primary-dark;
    a {
      color: $color-primary;
      transition: 0.9s;

      &:hover {
        color: darken($color-primary, 30%);
      }
    }
  }
}
