.header {
  grid-area: header;
  position: relative;
  background-image: url("../assets/images/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1;
  padding: 110px 0 80px;

  @include respond-from(tablet) {
    background-position: top left;
    padding: 115px 0;
  }

  @include respond-from(laptop) {
    padding: 230px 0;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    background: $gradient-main;
  }

  &__wrapper {
    text-align: center;
    margin-inline: auto;
    max-width: 300px;

    @include respond-from(tablet) {
      max-width: 590px;
    }

    @include respond-from(laptop) {
      max-width: 830px;
    }
  }

  &__heading {
    padding-bottom: 50px;

    @include respond-from(tablet) {
      padding-bottom: 70px;
    }
    @include respond-from(laptop) {
      padding-bottom: 120px;
    }
  }
}
