//colors
$color-primary: #f38181;
$color-secondary: #fce38a;
$color-tertiary: #eaffd0;
$color-quaternary: #95e1d3;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #e5e5e5;

//backgrounds
$gradient-main: linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);

//font colors
$font-color-primary-dark: #333333;
$font-color-secondary-light: #999999;

//font family
$font-family-primary: "Montserrat", Arial, Helvetica, sans-serif;
$font-family-secondary: "Roboto Condensed", Arial, Helvetica, sans-serif;
$font-family-tertiary: "Kaushan Script", Arial, Helvetica, sans-serif;

//breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-xl: 920px;
$breakpoint-laptop: 1220px;
$breakpoint-desktop: 1920px;
