h1 {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 40px;
  color: $color-white;
  text-transform: uppercase;

  @include respond-from(tablet) {
    font-size: 100px;
  }

  @include respond-from(laptop) {
    font-size: 150px;
  }
}

h2 {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 23px;
  color: $font-color-primary-dark;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;

  @include respond-from(tablet) {
    font-size: 30px;
    padding-bottom: 40px;
  }
}

p {
  font-family: $font-family-secondary;
  color: $font-color-secondary-light;
  font-size: 15px;
  line-height: 24px;
}

.title-p {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 14px;
  color: $font-color-primary-dark;
  line-height: 1;

  &--uppercase {
    text-transform: uppercase;
  }
}

.subtitle {
  display: block;
  font-family: $font-family-tertiary;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  line-height: 1;

  &--light {
    color: $color-white;
  }

  &--dark {
    color: $font-color-primary-dark;
  }

  &--big {
    font-size: 27px;
    padding-bottom: 15px;

    @include respond-from(tablet) {
      font-size: 43px;
      padding-bottom: 24px;
    }
    @include respond-from(laptop) {
      font-size: 72px;
      padding-bottom: 40px;
    }
  }

  &--small {
    font-size: 23px;
    padding-bottom: 15px;

    @include respond-from(laptop) {
      font-size: 24px;
      padding-bottom: 20px;
    }
  }
}

.underline {
  position: relative;
  margin-bottom: 20px;

  @include respond-from(laptop) {
    margin-bottom: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $color-primary;
    width: 60px;
    height: 3px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
