h1,
h2 {
  color: $color-white;
}

h1 {
  font-family: $font-family-primary;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;

  @include respond-from(tablet) {
    font-size: 70px;
  }

  @include respond-from(laptop) {
    font-size: 150px;
  }
}

h2 {
  font-family: $font-family-tertiary;
  font-size: 23px;

  @include respond-from(tablet) {
    font-size: 43px;
  }

  @include respond-from(laptop) {
    font-size: 77px;
  }
}

h3 {
  font-family: $font-family-primary;

  @include respond-from(laptop) {
    font-size: 30px;
  }
}

h4 {
  font-family: $font-family-primary;
  color: $font-color-primary-dark;
}

p {
  font-family: $font-family-secondary;
  color: $font-color-secondary-light;
  font-size: 15px;
  line-height: 24px;
}

.title-p {
  font-family: $font-family-primary;
  color: $font-color-primary-dark;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
}
